@using CoursovaSaleOfNail.Data.Models.PageModel;
@model ClientBuy
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <title>Голвна @Model.name</title>
    <link href="https://localhost:44310/Styles/client.css" rel="stylesheet" type="text/css" />
</head>
<header class="header_class">
    <img src="~/Img/SaleOfNail.png" height="50" alt="Фото відсутне">
    <div>@Model.name</div>
</header>
<body class="bogy_class">

    <span style="font-size: 36px;">Обробляються</span>
    <div class="col-1-3horisontal">
        @foreach (var sale in Model.inProgress)
        {<div style="max-height: 30%; width: 10%;text-align: center;display: inline-block;">
    <img style="max-height: 100px;" src="~/Img/@sale.foto" alt="Фото @sale.number відсутне">
    <div style="font-size: 12px">@sale.name</div><br>
    <div>Цiна: @sale.price грн</div>
</div>}
    </div>
    <span style="font-size: 36px;">Виконані</span>
    <div class="col-1-3horisontal">
        @foreach (var sale in Model.done)
        {<div style="max-height: 30%; width: 10%;text-align: center;display: inline-block;">
    <img style="max-height: 100px;" src="~/Img/@sale.foto" alt="Фото @sale.number відсутне">
    <div style="font-size: 12px">@sale.name</div><br>
    <div>Цiна: @sale.price грн</div>
    </div>
        }
    </div>
    <span style="font-size: 36px;">Відмовлені у виконанні</span>
    <div class="col-1-3horisontal">
        @foreach (var sale in Model.notDone)
        {<div style="max-height: 30%; width: 10%;text-align: center;display: inline-block;">
    <img style="max-height: 100px;" src="~/Img/@sale.foto" alt="Фото @sale.number відсутне">
    <div style="font-size: 12px">@sale.name</div><br>
    <div>Цiна: @sale.price грн</div>
</div>
        }
    </div>
</body>

